<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.camera.mapper.camera.CameraMapper">

	<select id="findCamera" resultType="Camera">
		SELECT id,brandId,typeId,title,pixel,zoom,lcd,color,price,image
		FROM Camera
		<where>
			<!-- 设置分类编号条件 -->
			<if test="typeId!=null">typeId=#{typeId}</if>
			<!-- 设置品牌编号条件 -->
			<if test="brandId!=null">and brandId=#{brandId}</if>
			<!-- 设置像素数范围条件 -->
			<if test="pixel!=null">
				and pixel&gt;=#{pixel.minValue}
				<if test="pixel.maxValue!=null">
					and pixel&lt;=#{pixel.maxValue}
				</if>
			</if>
			<!-- 设置变焦倍数范围条件 -->
			<if test="zoom!=null">
				<if test="zoom.minValue&lt;=0">
					and zoom=#{zoom.minValue}
				</if>
				<if test="zoom.minValue>0">
					and zoom&gt;=#{zoom.minValue}
				</if>				
				<if test="zoom.maxValue!=null">
					and zoom&lt;=#{zoom.maxValue}
				</if>				
			</if>
			<!-- 设置机身颜色条件 -->
			<if test="color!=null">
				and color like #{color}
			</if>
			<!-- 设置lcd尺寸范围条件 -->
			<if test="lcd!=null">
				and lcd&gt;=#{lcd.minValue}
				<if test="lcd.maxValue!=null">
					and lcd&lt;=#{lcd.maxValue}
				</if>
			</if>
			<!-- 设置价格范围条件 -->
			<if test="price!=null">
				and price&gt;=#{price.minValue}
				<if test="price.maxValue!=null">
					and price&lt;=#{price.maxValue}
				</if>
			</if>
			<!-- 设置标题关键字条件 -->
			<if test="title!=null">
				and title like #{title}
			</if>
		</where>
	</select>
	
</mapper>










