<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>chareset</filter-name>
    <filter-class>cn.hao.cms.filter.CharesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>chareset</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
    <servlet>
        <servlet-name>kapcha</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
   	 <!-- 噪线颜色 -->
    <init-param>  
        <description>The noise color. Legal values are r,g,b. </description>  
        <param-name>kaptcha.noise.color</param-name>  
        <param-value>red</param-value>  
    </init-param> 
   <!-- 验证码长度 -->
    <init-param>           
        <param-name>kaptcha.textproducer.char.length</param-name>  
        <param-value>4</param-value>  
    </init-param> 
    <!-- 宽度 -->
    <init-param>           
        <param-name>kaptcha.image.width</param-name>  
        <param-value>130</param-value>  
    </init-param>
    <!-- 高度 -->  
    <init-param>           
        <param-name>kaptcha.image.height</param-name>  
        <param-value>50</param-value>  
    </init-param>
     <!-- 验证码渐进色 -->  
    <init-param>  
        <param-name>kaptcha.background.clear.from</param-name>  
        <param-value>white</param-value>  
    </init-param>  
    <init-param>           
        <param-name>kaptcha.background.clear.to</param-name>  
        <param-value>green</param-value>  
    </init-param> 
     <!-- 字体颜色，红,绿,蓝色值或色名--> 
    <init-param>           
        <param-name>kaptcha.textproducer.font.color</param-name>  
        <param-value>yellow</param-value>  
    </init-param> 
    <!-- 是否显示边框 -->
    <init-param>           
        <param-name>kaptcha.border</param-name>  
        <param-value>no</param-value>  
    </init-param>
    <!-- 验证码样式 -->
     <init-param>           
	        <param-name>kaptcha.obscurificator.impl</param-name>  
	        <param-value>com.google.code.kaptcha.impl.ShadowGimpy</param-value>  
	    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>kapcha</servlet-name>
        <url-pattern>/vcode.jpg</url-pattern>
    </servlet-mapping>
</web-app>