<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
	<!--配置日志输出方式-->
		<setting name="logImpl" value="STDOUT_LOGGING"/>	
	</settings>
	<!--配置类型别名-->
	<typeAliases>
		<typeAlias type="cn.hao.servlet.entity.group" alias="group"/>
	</typeAliases>
	

		<!--设置数据库连接与事务特性 -->
	<environments default="student">
		<environment id="student">
		<!-- 设置事物管理器 -->
		<transactionManager type="JDBC"/>
		<!-- 设置数据库连接参数 -->
		<dataSource type="UNPOOLED">				
			<property name="driver" value="com.mysql.jdbc.Driver"/>
			<property name="url" value="jdbc:mysql:///easy"/>
			<property name="username" value="root"/>
			<property name="password" value="123"/>
		</dataSource>
		</environment>
	</environments>

	<mappers>
        <!--引入映射文件-->
        <mapper resource="cn/hao/mybatis/mapper/user.mapper.xml"/>	
	</mappers>
</configuration>
