<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
	
	<!-- 启用组件扫描 -->
	<context:component-scan base-package="cn.bdqn.contact">
		 <context:exclude-filter  type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>		
		<property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=CONTACT"/>
		<property name="username" value="sa"/>
		<property name="password" value="123"/>
	</bean>
	
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>cn/bdqn/contact/entity/Contact.hbm.xml</value>
				<value>cn/bdqn/contact/entity/Group.hbm.xml</value>
				<value>cn/bdqn/contact/entity/User.hbm.xml</value></list>
		</property>
	</bean>
	
	<bean class="org.springframework.orm.hibernate3.HibernateTemplate"
		p:sessionFactory-ref="sessionFactory"
	/>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory"
	/>
	
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="find*" read-only="true"/>
			<tx:method name="*"/>			
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut expression="execution(* cn.bdqn.contact.service..*.*(..))" id="txMethods"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txMethods"/>
	</aop:config>
	
	
	
	
	
	
	
	
	
	
	
</beans>
