<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">


	

	

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="com.mysql.jdbc.Driver"
		p:url="jdbc:mysql:///student"
		p:username="root"
		p:password="123"
	/>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 外部的MyBast配置文件路径 -->
		<property name="configLocation" value="classpath:mybatis.cfg.xml" />
		<!-- 配置映射文件加载位置 -->
		<property name="mapperLocations" value="classpath:cn/hao/student/mapper/*.xml"/> 
		<!-- 配置将哪个包下的类名转成别名 -->
		<property name="typeAliasesPackage" value="cn.hao.student.entity"/>
	</bean>
	
	<!-- 在指定的包下自动找到MyBatis的查询接口，并自动生成这些查询接口的实现类对象 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.hao.student.mapper"/>
	</bean>
	
	<context:component-scan base-package="cn.hao.student"/>
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource"
	/>
	
	<!-- 事务增强 -->
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="get*" read-only="true" propagation="SUPPORTS"/>
			<tx:method name="find*" read-only="true" propagation="SUPPORTS"/>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	
	<!-- 事物切面 -->
	<aop:config>
		<aop:pointcut expression="execution(* cn.hao.student.service..*.*(..))" id="txMethod"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txMethod"/>
	</aop:config>
	
	</beans>