<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 配置MyBatis日志的输出方式 -->
		<setting name="logImpl" value="LOG4J"/>
	</settings>

	<plugins>  
	    <plugin interceptor="bdqn.mybatis.plugin.PaginationInterceptor">
	    	<property name="dialectClass" value="bdqn.mybatis.plugin.MySQLDialect"/>
	   	</plugin>  
	</plugins>
	
	
</configuration>
